body {
  min-height: 100vh;
  background: #449f63;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

.card {
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #8ed294;
  margin: 20px;
  flex: 1 1 calc(50% - 40px);
  box-sizing: border-box;
}
.mat-card-header {
  background-color: #8ed294;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
.mat-card-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.mat-card-subtitle {
  font-size: 18px;
  color: #666;
}
.mat-card-content {
  background-color: #8ed294;
  padding: 15px;
  border-radius: 0 0 10px 10px;
}
.mat-card p {
  margin: 10px 0;
  color: #444;
}
