<mat-card class="card">
  <div *ngIf="blog">
    <h1>{{ blog.title }}</h1>
    <h2>{{ blog.subtitle }}</h2>
    <p><strong>Cuerpo:</strong> {{ blog.body }}</p>
    <p><strong>Tipo de Reporte:</strong> {{ blog.report_type }}</p>
    <p>
      <strong>Noticia destacada:</strong> {{ blog.is_primary ? "Sí" : "No" }}
    </p>
    <p><strong>Nombre del Editor:</strong> {{ blog.publisher_name }}</p>
    <p><strong>Puesto del Editor:</strong> {{ blog.publisher_job }}</p>
    <p>
      <strong>fecha y hora de creacion:</strong>

      {{ blog.created_at }}
    </p>
  </div>
</mat-card>
