.example-form {
    
    width: 95%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 40px;
  }
  
  .example-full-width {
    width: 95%;
  }
  
  td {
    padding-right: 8px;
  }
.h4 {
  text-align: center;
  width: 95%;
  display: grid;

}


  .nombrecargo{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    width: 95%;
    gap: 20px;
  }
  
  .example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
  
  .mat-checkbox {
    background: linear-gradient(60deg, rgb(65, 192, 76) 0%, rgba(0,172,193,1) 100%);
  }
.mat-card {
  background-color: aquamarine;
}

button {
  background: linear-gradient(60deg, rgb(65, 192, 76) 0%, rgba(0,172,193,1) 100%);
  color:rgb(255, 255, 255);
  font-family: 'Lato', sans-serif;
  font-weight:350;
  letter-spacing: 2px;
  font-size:12px;
  text-align: center;
  display: grid;
  width: 100%;
}