<div class="header">
  <h1>Noticiero UNACH</h1>

  <div>
    <svg
      class="waves"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
      shape-rendering="auto"
    >
      <defs>
        <path
          id="gentle-wave"
          d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"
        />
      </defs>
      <g class="parallax">
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="0"
          fill="rgba(255,255,255,0.7)"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="3"
          fill="rgba(255,255,255,0.5)"
        />
        <use
          xlink:href="#gentle-wave"
          x="48"
          y="5"
          fill="rgba(255,255,255,0.3)"
        />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
      </g>
    </svg>
  </div>
</div>

<div class="btn" *ngIf="isUserLogged; else userNotLogged">
  <button mat-raised-button (click)="openForm()">nueva noticia</button>

  <button mat-raised-button color="primary" (click)="logout()" class="mx-2">
    cerrrar sesion
  </button>
</div>

<ng-template #userNotLogged>
  <button mat-raised-button color="primary" (click)="login()">
    Iniciar Sesion
  </button>
</ng-template>

<div *ngIf="savedData.length > 0">
  <div *ngFor="let blog of savedData">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>{{ blog.title }}</mat-card-title>
        <mat-card-subtitle>{{ blog.subtitle }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Cuerpo:</strong> {{ blog.body }}</p>
        <p><strong>Tipo de Reporte:</strong> {{ blog.report_type }}</p>
        <p><strong>Es Primario:</strong> {{ blog.is_primary ? "Sí" : "No" }}</p>
        <p><strong>Nombre del Editor:</strong> {{ blog.publisher_name }}</p>
        <p><strong>Puesto del Editor:</strong> {{ blog.publisher_job }}</p>
        <button mat-button (click)="goblog(blog.id)">abrir</button>

        <button mat-button (click)="editBlog(blog.id)" *ngIf="isUserLogged">
          editar noticia
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
